body,header,nav,a,ul{
	margin: 0;
	padding: 0;
	border: 0;
	min-width: 320px;
}
header,nav{
	width: 100%;
	background:#5588ff;
	color:#fff;
}
#headInner{
	display: flex;
	border-bottom:1px solid rgba(255,255,255,0.3);
	margin: 0 10px;
}
.headLeft, .headCenter, .headRight{
	flex: 1;
	line-height: 44px;
}
.headRight{
	text-align: right;
}
.logo{
	display: block;
	width:95px;
	margin: -5px auto;
}
.a-icon{
	color: #fff;
	text-decoration: none;
}

.list {
	padding: 5px;
}
.list li{
	display: inline-block;
	text-align: center;
	margin: 5px 0;
}
.list li a{
	text-decoration: none;
	color: #fff;
}
.showLi{
	text-decoration: underline;
}
.w-1{
	border-right: 1px solid rgba(255,255,255,0.3);
	width: 14%;
}
.cBorderRight{
	border-right:none;
}
.w-2{
	width:28%;
}	
.newsBox{
	position: relative;
	padding:10px 0;
	margin: 0 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.newsImg img{
	display: block;
	width: 80px;
	min-height:80px; 
	margin: 0 auto;
}
.newsImg{
	float: left;
	border: 1px solid #ccc;
	margin-right: 10px;
}
.newsText {
	float:left;
	width: 68%;
}
.newsOther{
	position: absolute;
	bottom: 10px;
}
.newsName{
	margin: 0;
	font-weight: normal;
}
.newsTime{
	color: #aaa;
	font-size:12px;
}
.newsCon{
	display: none;
}
.newsConShow{
	display: block;
	margin-bottom: 10px;
}
.loadMore{
	display: block;
	width:90%;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	text-align: center;
	border: 1px solid #ccc;
}